include ../mixins/icons

.main
  .control-group
    button#fullscreen-button.icon-button.icon-button--small
      +svg-icon.red.big(svg-icon-name='fullscreen')
    button#settings-button.icon-button.icon-button--small
      +svg-icon.red.big(svg-icon-name='settings')
    button#history-button.icon-button.icon-button--small
      +svg-icon.red.big(svg-icon-name='history')

  canvas#confetti-canvas.confetti

  #lucky-draw
    img.title(src="~@images/title.svg" alt="Lucky Draw")

    h1.settings__title 
      <span id="current-player">🪄 Let's Draw 🪄</span>

    .slot
      .slot__outer
        .slot__inner
          .slot__shadow
          #reel.reel

      #sunburst.sunburst
        img(src="~@images/sunburst.svg" alt="sunburst")

    button#draw-button.solid-button Draw

  #settings.settings
    #settings-panel.settings__panel
      div.settings__panel__group
        h1.settings__title Settings
        div.input-group
          label.input-label(for="name-list") Name List
          textarea.input-field.input-field--textarea(rows="6" placeholder="Separate each name by line break" id="name-list")

        div.input-group
          label.input-label(for="lucky-money-list") Lucky Money List
          textarea.input-field.input-field--textarea(rows="6" placeholder="Input by VND. Separate each number by line break" id="lucky-money-list")

        div.input-group.input-group--2-column
          label.input-label(for="remove-from-list") Remove winner from list
          label.input--switch
            input(type="checkbox" checked="true" id="remove-from-list")
            span.slider

        div.input-group.input-group--2-column
          label.input-label(for="enable-sound") Enable sound effect
          label.input--switch
            input(type="checkbox" checked="true" id="enable-sound")
            span.slider
      div.settings__panel__group
        button#settings-save.solid-button.solid-button Save
        button#settings-close.solid-button.solid-button--danger Discard and close

  #history.settings
    #history-panel.settings__panel
      div.settings__panel__group
        h1.settings__title History

        div.input-group
          textarea.input-field.input-field--textarea(rows="12" placeholder="History will be appear here" id="history-list")
        
      div.settings__panel__group
        button#history-close.solid-button.solid-button--danger Close

